@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.root {
    -fx-background-image: url("../images/bg-5.jpg") format("truetype");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button{
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-family: 'Orbitron', sans-serif;
    -fx-background-image: url('../images/button-3.png');
    -fx-background-size: 150,65;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
}
.button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(255, 241, 216, 0.5), 15, 0.7, 0, 0);
}

.label {
    -fx-font-family: 'UnifrakturMaguntia', serif;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(226, 177, 92);
    -fx-font-size: 30px;
}